*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navbar
{
    width: 100%;
    height: 80px;
    background-color: rgb(17, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav1 h1
{
    width: 15%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-transform: capitalize;
}
.nav2
{
    width: 65%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.nav2 ul
{
    list-style: none;
    display: flex;
    width: 70%;
    height: 80%;
    justify-content: space-around;
    text-align: left;
    color: white;
}
.nav2 ul li
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
    padding-top: 29px;
    padding-left: 8px;
    padding-right: 12px;
}
.nav2 ul li:hover
{
    color: rgb(255, 254, 254);
    background: rgb(209, 3, 3);
}
.nav3
{
    width: 20%;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav3 ul
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    list-style: none;
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    text-align: left;
    color: white;
}
.nav3 ul li
{
    cursor: pointer;
    padding-top: 29px;
    padding-left: 8px;
    padding-right: 12px;
    text-transform: capitalize;
}
.nav3 ul li:hover
{
    color: rgb(255, 254, 254);
    background: rgb(209, 3, 3);

}
.nav3 img
{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 60px;
    background: white;
    border-radius: 50%;
}
